*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top:20px;
}
.about {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("about us.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top:20px;
}
.faci {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("our-facilities.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top:20px;
}
.gall {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("gallery.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top:20px;
}
.camp {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("camp.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top:20px;
}
.contact {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("contact.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top:20px;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-flex;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 25px;
	border: 1px solid transparent;
	transtion: 0.6s ease;
}


ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 100px;
}
.ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
ul li a:hover::after{
	width: 100px;

}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-height: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
	

.text-box h1{
	font-size: 62px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}
.hero-btn{
	border:1px solid #fff;
	padding: 10px 30px;
	color: white;
	text-decoration: inherit;
	transition: 0.6s ease;
}

.hero-btn:hover{
    background-color: #07b416;
	color: #000;
	border: 1px solid #07b416;
	transition: 1s;
}
@media(max-width): 700px) {
	.text-box h1{
		font-size: 20px;
	}

}

/* Home Page Style */

.about-sty {
	margin: 30px 0;
	background-image: url("yellow.svg");
}
.about-sty h3 {
	color: #fe4705;
    font-weight: bold;
	text-align: center;
}
.about-sty p {
	text-align: center;
}


.facilities-sty {
	margin: 30px 0;
	background-image: url("pink.jpg");
}
.facilities-sty h3 {
	color: #fe4705;
    font-weight: bold;
	text-align: center;
}
.facilities-sty p {
	text-align: center;
}
.facilities-sty ul {
	float: none;
}
.facilities-sty ul li {
	    background: url(right-arrow.png) no-repeat left center;
    padding-left: 23px;
    margin-bottom: 10px;
    display: block;
}

.gallery-sty {
	margin: 60px 0;
}
.gallery-sty h3 {
	color: #fe4705;
    font-weight: bold;
	text-align: center;
	margin-bottom:25px;
}
.gallery-sty img {
	margin-bottom:20px;
}

.campus-sty {
	margin: 30px 0;
}
.campus-sty h3 {
	color: #fe4705;
    font-weight: bold;
	
}
.campus-sty p {
	text-align: center;
}


.contact-sty {
	margin: 30px 0;
}
.contact-sty h3 {
	color: #fe4705;
    font-weight: bold;
	
}


/* Footer Style */

.main-footer {
	background: #0c5dd4;
    text-align: center;
    padding: 9px 0;
}
.main-footer p {
	text-align: center !important;
    color: #fff;
    padding: 0;
    margin: 0;
}
